# ==========================================
# 통합 환경 설정 (Project Root)
# ==========================================
# [Environment URLs]
# 로컬/서버 각각의 .env 파일에 알맞은 주소를 적으면 됩니다.
# 로컬: http://localhost:8001
# 서버: https://sogething.com

#모노레포 구조

VITE_API_URL=http://localhost:8400

# DataBase API Key
# 로컬 또는 본인의 DB 접속 정보로 변경하세요
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=aisogething

# 네이버 Api Key
NAVER_CLIENT_ID=YOUR_NAVER_CLIENT_ID
NAVER_CLIENT_SECRET=YOUR_NAVER_CLIENT_SECRET

# Youtube Api Key
VITE_YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
